:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: calc(100% - 2rem);
  background-color: #0048BA;
  color: white;
  padding: 0 1rem;
}
